Repository omniosorg/omnios-build, pull requests merged in 2018-04, with the labels that each got.

#647 unzip: Add fixes for CVEs
  build/unzip/build.sh
  build/unzip/patches/CVE-2014-8139-crc-overflow.patch
  build/unzip/patches/CVE-2014-8140-test-compr-eb.patch
  build/unzip/patches/CVE-2014-8141-getzip64data.patch
  build/unzip/patches/CVE-2014-9636-test-compr-eb.patch
  build/unzip/patches/CVE-2014-9913-unzip-buffer-overflow.patch
  build/unzip/patches/CVE-2015-7696-heap-overflow.patch
  build/unzip/patches/CVE-2015-7697-infinite-loop.patch
  build/unzip/patches/CVE-2016-9844-zipinfo-buffer-overflow.patch
  build/unzip/patches/CVE-2016-9844.patch
  build/unzip/patches/CVE-2018-1000035-overflow-password-protect.patch
  build/unzip/patches/extract.c.patch
  build/unzip/patches/integer-underflow-csiz_decrypted.patch
  build/unzip/patches/series
  build/unzip/patches/unix_Makefile.patch
  doc/packages.md
Labels: backport-todo, package update, security

#649 unzip: Add fixes for CVEs (r151022)
  build/unzip/patches/CVE-2014-8139-crc-overflow.patch
  build/unzip/patches/CVE-2014-8140-test-compr-eb.patch
  build/unzip/patches/CVE-2014-8141-getzip64data.patch
  build/unzip/patches/CVE-2014-9636-test-compr-eb.patch
  build/unzip/patches/CVE-2014-9913-unzip-buffer-overflow.patch
  build/unzip/patches/CVE-2015-7696-heap-overflow.patch
  build/unzip/patches/CVE-2015-7697-infinite-loop.patch
  build/unzip/patches/CVE-2016-9844-zipinfo-buffer-overflow.patch
  build/unzip/patches/CVE-2016-9844.patch
  build/unzip/patches/CVE-2018-1000035-overflow-password-protect.patch
  build/unzip/patches/extract.c.patch
  build/unzip/patches/integer-underflow-csiz_decrypted.patch
  build/unzip/patches/series
  build/unzip/patches/unix_Makefile.patch
Labels: backport-PR, package update, security

#648 unzip: Add fixes for CVEs (r151024)
  build/unzip/patches/CVE-2014-8139-crc-overflow.patch
  build/unzip/patches/CVE-2014-8140-test-compr-eb.patch
  build/unzip/patches/CVE-2014-8141-getzip64data.patch
  build/unzip/patches/CVE-2014-9636-test-compr-eb.patch
  build/unzip/patches/CVE-2014-9913-unzip-buffer-overflow.patch
  build/unzip/patches/CVE-2015-7696-heap-overflow.patch
  build/unzip/patches/CVE-2015-7697-infinite-loop.patch
  build/unzip/patches/CVE-2016-9844-zipinfo-buffer-overflow.patch
  build/unzip/patches/CVE-2016-9844.patch
  build/unzip/patches/CVE-2018-1000035-overflow-password-protect.patch
  build/unzip/patches/extract.c.patch
  build/unzip/patches/integer-underflow-csiz_decrypted.patch
  build/unzip/patches/series
  build/unzip/patches/unix_Makefile.patch
Labels: backport-PR, package update, security

#656 open-vm-tools: update to 10.2.5
  build/open-vm-tools/build.sh
  doc/packages.md
Labels: package update

#655 libidn: update to 1.34
  build/entire/entire.pkg
  build/jeos/omnios-userland.pkg
  build/libidn/build.sh
  doc/packages.md
Labels: package update

#654 sed: update to 4.5
  build/entire/entire.pkg
  build/jeos/omnios-userland.pkg
  build/sed/build.sh
  build/sed/testsuite.log
  doc/packages.md
Labels: package update

#646 cryptography: update to 2.2.2
  build/python27/cryptography/build.sh
  doc/packages.md
Labels: package update

#658 ncurses: update to 6.1.20180331
  build/ncurses/build.sh
  doc/packages.md
Labels: package update

#657 sqlite3: update to 3.23.0
  build/sqlite3/build.sh
  doc/packages.md
Labels: package update

#659 git: update to 2.17.0
  build/binutils/build.sh
  build/flex/build.sh
  build/git/build.sh
  build/git/local.mog
  build/git/testsuite.log
  build/jeos/omnios-userland.pkg
  doc/packages.md
  lib/config.sh
  lib/functions.sh
Labels: package update

#663 hg: update to 4.5.3
  build/mercurial/build.sh
  doc/packages.md
Labels: package update

#669 clone all branches (r151026)
  lib/functions.sh
Labels: backport-PR

#668 clone all branches
  lib/functions.sh
Labels: backport-todo

#674 Flag removed python modules as obsolete (r151026)
  build/python27/obsolete/extra.p5m
  build/python27/obsolete/lxml.p5m
  build/python27/obsolete/m2crypto.p5m
  build/python27/obsolete/numpy.p5m
  build/python27/obsolete/pylint.p5m
  build/python27/obsolete/pyrex.p5m
  build/python27/obsolete/typing.p5m
Labels: backport-PR

#672 Fix KVM variants to allow r24->r26 upgrade (r151026)
  build/illumos-kvm/kvm.mog
Labels: backport-PR

#684 sqlite3: update to 3.23.1
  build/sqlite3/build.sh
  doc/packages.md
Labels: backport-PR, package update

#683 sqlite3: update to 3.23.1
  build/sqlite3/build.sh
  doc/packages.md
Labels: backport-todo, package update

#690 zsh: update to 5.5
  build/jeos/omnios-userland.pkg
  build/zsh/build.sh
  build/zsh/testsuite.log
  doc/packages.md
Labels: package update, security

#706 nss: update to 3.36.1
  build/mozilla-nss-nspr/build.sh
  doc/packages.md
Labels: package update

#701 nghttp2: update to 1.31.1
  build/nghttp2/build.sh
  build/nghttp2/testsuite.log
  doc/packages.md
Labels: backport-todo, package update, security

#702 nghttp2: update to 1.31.1 (r151026)
  build/nghttp2/build.sh
Labels: backport-PR, package update, security

#699 perl: update to 5.26.2
  build/perl/build.sh
  build/perl/testsuite.log
  build/perl/testsuite64.log
  doc/packages.md
  lib/config.sh
Labels: backport-todo, package update, security

#698 perl: update to 5.26.2 (r151026)
  build/perl/build.sh
  doc/packages.md
  lib/config.sh
Labels: backport-PR, package update, security

#697 perl: fixes for CVE-2018-6797,6798,6913 (r51022)
  build/perl/patches/CVE-2018-6797.patch
  build/perl/patches/CVE-2018-6798a.patch
  build/perl/patches/CVE-2018-6798b.patch
  build/perl/patches/CVE-2018-6798c.patch
  build/perl/patches/CVE-2018-6913.patch
  build/perl/patches/series
  doc/ReleaseNotes.md
Labels: security

#696 perl: update to 5.24.4 (r151024)
  build/perl/build.sh
  doc/ReleaseNotes.md
  lib/config.sh
Labels: package update, security

#703 nghttp2: Fix CVE-2018-1000168 (r151024)
  build/nghttp2/patches/CVE-2018-1000168.patch
  build/nghttp2/patches/series
  doc/ReleaseNotes.md
Labels: security

#704 nghttp2: Fix CVE-2018-1000168 (r151022)
  build/nghttp2/patches/CVE-2018-1000168.patch
  build/nghttp2/patches/series
  doc/ReleaseNotes.md
Labels: security

#708 zsh: update to 5.5.1
  build/zsh/build.sh
  build/zsh/testsuite.log
  doc/packages.md
Labels: backport-todo, package update

#709 zsh: update to 5.5.1 (r151026)
  build/zsh/build.sh
Labels: backport-PR, package update

#710 fio: update to 3.6
  build/fio/build.sh
  doc/packages.md
  lib/config.sh
  lib/functions.sh
Labels: package update

#711 glib2: update to 2.56.1
  build/glib/build.sh
  build/glib/testsuite.log
  doc/packages.md
Labels: package update

#712 pytz: update to 2018.4
  build/python27/pytz/build.sh
  doc/packages.md
Labels: package update

#714 Switch to generating /etc/release (r151026)
  build/openssl/build.sh
  build/release/build.sh
  build/release/local.mog
  build/release/name.p5m
  build/release/notices.p5m
  build/release/root/etc/release
  doc/ReleaseNotes.md
  lib/functions.sh
Labels: backport-PR

#713 Generate /etc/release
  build/openssl/build.sh
  build/release/build.sh
  build/release/local.mog
  build/release/name.p5m
  build/release/notices.p5m
  build/release/root/etc/release
  lib/functions.sh
Labels: backport-todo

#717 SMF ipfilter does not work with ssh
  build/openssh/files/ssh.xml
  build/openssh/files/sshd
Labels: backport-todo, package update

#718 SMF ipfilter does not work with ssh (r151026)
  build/openssh/files/ssh.xml
  build/openssh/files/sshd
Labels: backport-PR, package update

#719 SMF ipfilter does not work with ssh (r151024)
  build/openssh/files/ssh.xml
  build/openssh/files/sshd
Labels: backport-PR, package update

#720 SMF ipfilter does not work with ssh (r151022)
  build/openssh/files/ssh.xml
  build/openssh/files/sshd-method
Labels: backport-PR, package update

#715 Drop 1510* prefix from version
  build/release/build.sh
Labels: backport-todo, package update

#716 Drop 1510* prefix from version (r151026)
  build/release/build.sh
Labels: backport-PR, package update
