Repository omniosorg/omnios-build, pull requests merged in 2018-02, with the labels that each got.

#563 dbus: update to 1.12.4
  build/dbus/build.sh
  build/dbus/testsuite.log
  doc/packages.md
Labels: package update

#566 gpatch: fix CVE-2018-6951
  build/patch/patches/CVE-2018-6951.patch
  build/patch/patches/series
Labels: backport-todo, security

#568 gpatch: fix CVE-2018-6951 (r151024)
  build/patch/patches/CVE-2018-6951.patch
  build/patch/patches/series
Labels: backport-PR, security

#569 gpatch: fix CVE-2018-6951 (r151022)
  build/patch/patches/CVE-2018-6951.patch
  build/patch/patches/series
Labels: backport-PR, security

#570 fio: update to 3.4
  build/fio/build.sh
  doc/packages.md
Labels: package update

#573 git: update to 2.16.2
  build/git/build.sh
  doc/packages.md
Labels: package update

#576 python module updates
  build/jeos/omnios-userland.pkg
  build/python27/coverage/build.sh
  build/python27/ply/build.sh
  build/python27/ply/local.mog
  build/python27/pytz/build.sh
  build/python27/pytz/local.mog
  build/python27/setuptools/build.sh
  doc/packages.md
Labels: package update

#579 fio: update to 3.5
  build/fio/build.sh
  doc/packages.md
Labels: package update

#587 ncurses: update to 6.1.20180224
  build/ncurses/build.sh
  doc/packages.md
Labels: package update

#586 acpica: update to 20180209
  build/acpica/build.sh
  doc/packages.md
Labels: package update

#584 gawk: update to 4.2.1
  build/gawk/build.sh
  build/gawk/testsuite.log
  doc/packages.md
Labels: package update

#585 bmake: update to 20180222
  build/bmake/build.sh
  doc/packages.md
Labels: package update

#588 nghttp2: update to 1.31.0
  build/nghttp2/build.sh
  build/nghttp2/testsuite.log
  doc/packages.md
Labels: package update

#591 ntp: update to 4.2.8p11 (r151022)
  build/ntp/build.sh
Labels: backport-PR, package update

#590 ntp: update to 4.2.8p11 (r151024)
  build/ntp/build.sh
Labels: backport-PR, package update

#589 ntp: update to 4.2.8p11
  build/ntp/build.sh
  build/ntp/files/ntp
  build/ntp/files/ntp.xml
  doc/packages.md
Labels: backport-todo, package update
