Repository omniosorg/omnios-build, pull requests merged in 2018-05, with the labels that each got.

#729 xz: update to 5.2.4
  build/xz/build.sh
  doc/packages.md
Labels: package update

#728 Python module updates
  build/jeos/omnios-userland.pkg
  build/python27/cheroot/build.sh
  build/python27/cherrypy/build.sh
  build/python27/functools_lru_cache/build.sh
  build/python27/functools_lru_cache/local.mog
  build/python27/ipaddress/build.sh
  build/python27/simplejson/build.sh
  doc/packages.md
Labels: package update

#732 sudo: update to 1.8.23
  build/sudo/build.sh
  build/sudo/local.mog
  doc/packages.md
Labels: package update

#746 p7zip - add patch for CVE-2018-10115 (r151022)
  build/p7zip/patches/CVE-2016-9296.patch
  build/p7zip/patches/CVE-2017-17969.patch
  build/p7zip/patches/CVE-2018-10115.patch
  build/p7zip/patches/bash.patch
  build/p7zip/patches/makefile.patch
  build/p7zip/patches/series
Labels: backport-PR, package update

#745 p7zip - add patch for CVE-2018-10115 (r151024)
  build/p7zip/patches/CVE-2016-9296.patch
  build/p7zip/patches/CVE-2017-17969.patch
  build/p7zip/patches/CVE-2018-10115.patch
  build/p7zip/patches/bash.patch
  build/p7zip/patches/makefile.patch
  build/p7zip/patches/series
  build/p7zip/testsuite.log
Labels: backport-PR, package update

#744 p7zip - add patch for CVE-2018-10115 (r151026)
  build/p7zip/patches/CVE-2016-9296.patch
  build/p7zip/patches/CVE-2017-17969.patch
  build/p7zip/patches/CVE-2018-10115.patch
  build/p7zip/patches/bash.patch
  build/p7zip/patches/makefile.patch
  build/p7zip/patches/series
  build/p7zip/testsuite.log
Labels: backport-PR, package update

#743 p7zip - add patch for CVE-2018-10115
  build/p7zip/patches/CVE-2016-9296.patch
  build/p7zip/patches/CVE-2017-17969.patch
  build/p7zip/patches/CVE-2018-10115.patch
  build/p7zip/patches/bash.patch
  build/p7zip/patches/makefile.patch
  build/p7zip/patches/series
  build/p7zip/testsuite.log
Labels: backport-todo, package update

#749 p7zip: patch for CVE-2018-5996
  build/p7zip/patches/CVE-2018-10115.patch
  build/p7zip/patches/CVE-2018-5996.patch
  build/p7zip/patches/series
Labels: backport-todo, package update

#752 p7zip: patch for CVE-2018-5996 (r151022)
  build/p7zip/patches/CVE-2018-10115.patch
  build/p7zip/patches/CVE-2018-5996.patch
  build/p7zip/patches/series
Labels: backport-PR, package update

#756 ncurses: update to 6.1.20180428
  build/ncurses/build.sh
  doc/packages.md
Labels: backport-todo, package update

#757 ncurses: update to 6.1.20180428 (r151026)
  build/ncurses/build.sh
Labels: backport-PR, package update

#759 ncurses: update to 6.1-20180428 (r151022)
  build/ncurses/build.sh
  build/ncurses/patches/series
  build/ncurses/patches/xterm-no-rep.patch
Labels: backport-PR, package update

#758 ncurses: update to 6.1-20180428 (r151024)
  build/ncurses/build.sh
  build/ncurses/patches/xterm-no-rep.patch
Labels: backport-PR, package update

#760 wget: update to 1.19.5
  build/wget/build.sh
  build/wget/patches/nofuzz.patch
  build/wget/patches/series
  doc/packages.md
Labels: backport-todo, package update

#761 wget: update to 1.19.5 (r151026)
  build/wget/build.sh
  build/wget/patches/nofuzz.patch
  build/wget/patches/series
Labels: backport-PR, package update

#762 wget: update to 1.19.5 (r151024)
  build/wget/build.sh
Labels: backport-PR, package update

#763 wget: update to 1.19.5 (r151022)
  build/wget/build.sh
Labels: backport-PR, package update

#771 acpica: update to 20180508
  build/acpica/build.sh
  doc/packages.md
Labels: package update

#770 nghttp2: update to 1.32.0
  build/nghttp2/build.sh
  build/nghttp2/testsuite.log
  doc/packages.md
Labels: package update

#772 mercurial: update to 4.6
  build/mercurial/build.sh
  doc/packages.md
Labels: package update

#774 libidn: update to 1.35
  build/entire/entire.pkg
  build/jeos/omnios-userland.pkg
  build/libidn/build.sh
  doc/packages.md
Labels: package update

#775 nss: update to 3.37
  build/mozilla-nss-nspr/build.sh
  doc/packages.md
Labels: package update

#785 curl: update to 7.60.0
  build/curl/build.sh
  build/curl/testsuite.log
  build/openssl/patches/rehash.patch
  build/openssl/patches/series
  build/python27/pycurl/patches/openssl11.patch
  build/python27/pycurl/patches/series
  doc/packages.md
Labels: package update

#786 curl: update to 7.60.0 (r151026)
  build/curl/build.sh
Labels: backport-PR, package update

#787 curl: update to 7.60.0 (r151024)
  build/curl/build.sh
Labels: backport-PR, package update

#788 curl: update to 7.60.0 (r151022)
  build/curl/build.sh
Labels: backport-PR, package update

#795 dma: strip "From " fields from header (r151026)
  build/dma/patches/from.patch
  build/dma/patches/series
Labels: backport-PR, bug

#794 dma: strip "From " fields from header
  build/dma/patches/from.patch
  build/dma/patches/series
Labels: backport-todo, bug

#796 vim: update to 8.1 and 64-bit
  build/entire/entire.pkg
  build/jeos/omnios-userland.pkg
  build/vim/build.sh
  build/vim/files/license
  build/vim/local.mog
  build/vim/patches/8.0.1263-CVE-2017-17087
  build/vim/patches/series
  doc/packages.md
Labels: package update

#797 libsigc++: update to 2.99.11
  build/sigcpp/build.sh
  build/sigcpp/testsuite.log
  doc/packages.md
Labels: package update

#801 cpuid: update to 1.6.4
  build/cpuid/build.sh
  build/cpuid/patches/bhyve.patch
  build/cpuid/patches/series
  doc/packages.md
Labels: package update

#800 bmake: update to 20180512
  build/bmake/build.sh
  doc/packages.md
Labels: package update

#804 nss: update to 3.37.1
  build/mozilla-nss-nspr/build.sh
  doc/packages.md
Labels: package update

#806 bison: update to 3.0.5
  build/bison/build.sh
  build/bison/testsuite.log
  doc/packages.md
Labels: package update

#807 iso-codes: update to 3.79
  build/iso-codes/build.sh
  build/jeos/omnios-userland.pkg
  doc/packages.md
Labels: package update

#813 git: update to 2.13.7 (r151022)
  build/git/build.sh
Labels: backport-PR, package update

#812 git: update to 2.14.4 (r151024)
  build/git/build.sh
Labels: backport-PR, package update

#811 git: update to 2.17.1 (r151026)
  build/git/build.sh
Labels: backport-PR, package update

#810 git: update to 2.17.1
  build/git/build.sh
  build/git/testsuite.log
  doc/packages.md
Labels: backport-todo, package update

#809 Python module updates
  build/jeos/omnios-userland.pkg
  build/python27/cheroot/build.sh
  build/python27/cherrypy/build.sh
  build/python27/more-itertools/build.sh
  build/python27/pyopenssl/build.sh
  build/python27/setuptools/build.sh
  build/python27/simplejson/build.sh
  doc/packages.md
Labels: package update

#814 openjdk: update to 1.7.0_181-b01
  build/openjdk/build.sh
  build/openjdk/patches/hotspot-ccsbins.patch
  build/openjdk/patches/jdk-fixes.patch
  build/openjdk/patches/series
  doc/packages.md
Labels: package update
