Repository omniosorg/omnios-build, pull requests merged in 2018-03, with the labels that each got.

#593 ISC DHCP: update to 4.4.1
  build/isc-dhcp/build.sh
  doc/packages.md
Labels: package update

#594 dhcp: update to 4.3.6-P1 (r151024)
  build/isc-dhcp/build.sh
Labels: package update

#596 dbus: update to 1.12.6
  build/dbus/build.sh
  build/dbus/testsuite.log
  doc/packages.md
Labels: package update

#595 dhcp: update to 4.3.6-P1 (r151022)
  build/isc-dhcp/build.sh
Labels: package update

#602 libxml2: update to 2.9.8
  build/libxml2/build.sh
  build/libxml2/testsuite.log
  doc/packages.md
Labels: package update

#605 nss/nspr: update to 3.36/4.19
  build/entire/entire.pkg
  build/mozilla-nss-nspr/build.sh
  doc/packages.md
Labels: package update

#604 mercurial: update to 4.5.2
  build/mercurial/build.sh
  doc/packages.md
Labels: package update

#613 automake: update to 1.16.1
  build/automake/build.sh
  build/automake/testsuite.log
  doc/packages.md
Labels: package update

#614 tempora: update to 1.11
  build/jeos/omnios-userland.pkg
  build/python27/tempora/build.sh
  doc/packages.md
Labels: package update

#615 curl: update to 7.59.0
  build/curl/build.sh
  build/curl/testsuite.log
  doc/packages.md
Labels: package update, security

#617 curl: update to 7.59.0 (r151024)
  build/curl/build.sh
Labels: backport-PR, package update, security

#616 curl: update to 7.59.0 (r151022)
  build/curl/build.sh
Labels: backport-PR, package update, security

#622 bind: update to 9.10.7
  build/bind/build.sh
  build/bind/testsuite.log
  doc/packages.md
Labels: package update, security

#621 bind: update to 9.10.7 (r151024)
  build/bind/build.sh
Labels: backport-PR, package update, security

#620 bind: update to 9.10.7 (r151022)
  build/bind/build.sh
Labels: backport-PR, package update, security

#628 ntpsec: update to 1.1.0
  build/ntpsec/build.sh
  build/ntpsec/patches/conf.patch
  build/ntpsec/patches/mansections.patch
  build/ntpsec/patches/nonet.patch
  build/ntpsec/patches/pie.patch
  build/ntpsec/testsuite.log
  doc/packages.md
Labels: package update

#629 glib2: update to 2.56.0
  build/entire/entire.pkg
  build/glib/build.sh
  build/glib/patches/gobject.h.patch
  build/glib/patches/series
  build/glib/patches/threadlib.patch
  build/glib/patches/types.patch
  build/glib/patches/zignore.patch
  build/glib/testsuite.log
  build/jeos/omnios-userland.pkg
  doc/packages.md
Labels: package update

#631 acpica: update to 20180313
  build/acpica/build.sh
  doc/packages.md
Labels: package update

#632 ncurses: update to 20180317
  build/ncurses/build.sh
  doc/packages.md
Labels: package update

#630 unixodbc: update to 2.3.6
  build/jeos/omnios-userland.pkg
  build/unixodbc/build.sh
  doc/packages.md
Labels: package update

#635 cryptography: update to 2.2.1
  build/python27/cryptography/build.sh
  doc/packages.md
Labels: package update

#636 openjdk: update to 1.7.0_171-b02
  build/openjdk/build.sh
  doc/packages.md
Labels: package update

#638 cherrypy: update to 14.0.1
  build/python27/cherrypy/build.sh
  doc/packages.md
Labels: package update

#637 git: update to 2.16.3
  build/git/build.sh
  doc/packages.md
Labels: package update

#643 openssl: update to 1.0.2o (r151022)
  build/openssl/build.sh
Labels: backport-PR, package update, security

#642 openssl: update to 1.1.0h/1.0.2o (r151024)
  build/openssl/build.sh
  build/openssl/testsuite.1.0.log
  build/openssl/testsuite.log
Labels: backport-PR, package update, security

#641 openssl: update to 1.1.0h/1.0.2o
  build/openssl/build.sh
  build/openssl/patches/libs.patch
  build/openssl/testsuite.log
  doc/packages.md
Labels: backport-todo, package update, security
