Repository omniosorg/omnios-build, pull requests merged in 2018-12, with the labels that each got.

#1152 perl: update to 5.28.1
  build/XML::Parser/build.sh
  build/gcc5/build.sh
  build/perl/build.sh
  build/perl/testsuite.log
  build/perl/testsuite64.log
  build/pkgtree/build.sh
  doc/packages.md
  lib/config.sh
Labels: package update

#1151 perl: update to 5.26.3 (r151026)
  build/perl/build.sh
  build/perl/testsuite.log
  build/perl/testsuite64.log
  lib/config.sh
Labels: package update

#1153 perl: update to 5.28.1 (r151028)
  build/perl/build.sh
  lib/config.sh
Labels: package update

#1157 wget: update to 1.20
  build/entire/entire.pkg
  build/jeos/omnios-userland.pkg
  build/pcre/build.sh
  build/pcre/local.mog
  build/pcre2/build.sh
  build/pcre2/local.mog
  build/pcre2/testsuite.log
  build/wget/build.sh
  doc/baseline
  doc/packages.md
Labels: package update

#1158 nss: update to 3.40.1
  build/mozilla-nss-nspr/build.sh
  doc/packages.md
Labels: backport-todo, package update

#1159 nss: update to 3.40.1 (r151028)
  build/mozilla-nss-nspr/build.sh
Labels: backport-PR, package update

#1161 nss/nspr: update to 3.40.1/4.20 (r151026)
  build/mozilla-nss-nspr/build.sh
Labels: backport-PR, package update

#1160 nss/nspr: update to 3.40.1/4.20 (r151022)
  build/entire/entire.p5m
  build/jeos/omnios-userland.p5m
  build/mozilla-nss-nspr/build.sh
Labels: backport-PR, package update

#1162 mercurial: update to 4.8.1
  build/mercurial/build.sh
  doc/packages.md
Labels: package update

#1166 Package updates
  build/dbus/build.sh
  build/dbus/testsuite.log
  build/sqlite3/build.sh
  doc/packages.md
Labels: package update

#1170 nss: update to 3.41 (r151026)
  build/mozilla-nss-nspr/build.sh
Labels: backport-PR, security

#1168 nss: update to 3.41
  build/mozilla-nss-nspr/build.sh
  doc/packages.md
Labels: backport-todo, package update, security

#1177 package updates
  build/git/build.sh
  build/git/local.mog
  build/git/testsuite.log
  build/libedit/build.sh
  build/ncurses/build.sh
  build/nghttp2/build.sh
  build/nghttp2/testsuite.log
  doc/packages.md
Labels: package update

#1180 curl: update to 7.63.0
  build/curl/build.sh
  build/curl/testsuite.log
  doc/packages.md
Labels: package update

#1187 sccs: update to 5.08
  build/jeos/omnios-userland.pkg
  build/sccs/build.sh
  build/sccs/local.mog
  build/sccs/patches/03.Defaults.sunos5.patch
  build/sccs/patches/04.remove_ccs.patch
  build/sccs/patches/series
  doc/packages.md
  tools/test
Labels: package update

#1193 package updates
  build/bison/build.sh
  build/bison/testsuite.log
  build/bmake/build.sh
  build/groff/build.sh
  build/groff/local.mog
  build/jeos/omnios-userland.pkg
  build/nasm/build.sh
  doc/packages.md
Labels: package update

#1195 gzip: update to 1.10
  build/entire/entire.pkg
  build/gzip/build.sh
  build/gzip/testsuite.log
  build/jeos/omnios-userland.pkg
  doc/packages.md
Labels: package update
