Repository omniosorg/omnios-build, pull requests merged in 2019-07, with the labels that each got.

#1473 glib update
  build/glib/build.sh
  build/glib/testsuite.log
  doc/packages.md
  lib/config.sh
  lib/functions.sh
Labels: package update

#1469 bzip2: update to 1.0.7
  build/bzip2/build.sh
  build/bzip2/local.mog
  build/bzip2/patches/CVE-2016-3189.patch
  build/bzip2/patches/Makefile.patch
  build/bzip2/patches/selectors.patch
  build/bzip2/patches/series
  build/bzip2/testsuite.log
  build/entire/entire.pkg
  build/jeos/omnios-userland.pkg
  doc/packages.md
Labels: backport-todo, package update, security

#1475 ntpsec: update to 1.1.5
  build/ntpsec/build.sh
  build/ntpsec/testsuite.log
  doc/packages.md
Labels: package update

#1480 package updates
  build/python35/mako/build.sh
  build/python35/more-itertools/build.sh
  doc/packages.md
Labels: package update

#1485 nss: update to 3.45 (r151022)
  build/entire/entire.p5m
  build/jeos/omnios-userland.p5m
  build/mozilla-nss-nspr/build.sh
  build/mozilla-nss-nspr/patches/nss-makefile.patch
  build/mozilla-nss-nspr/patches/series
Labels: backport-PR, package update

#1484 nss: update to 3.45 (r151028)
  build/mozilla-nss-nspr/build.sh
  build/mozilla-nss-nspr/patches/nss-makefile.patch
  build/mozilla-nss-nspr/patches/series
Labels: backport-PR, package update

#1483 nss: update to 3.45 (r151030)
  build/mozilla-nss-nspr/build.sh
  build/mozilla-nss-nspr/patches/nss-makefile.patch
  build/mozilla-nss-nspr/patches/series
Labels: backport-PR, package update

#1482 nss: update to 3.45
  build/mozilla-nss-nspr/build.sh
  build/mozilla-nss-nspr/patches/nss-makefile.patch
  build/mozilla-nss-nspr/patches/nss-modernize.patch
  build/mozilla-nss-nspr/patches/series
  build/mozilla-nss-nspr/patches/shadowing.patch
  doc/packages.md
Labels: backport-todo, package update

#1481 ncurses: update to 6.1.20190706
  build/ncurses/build.sh
  build/ncurses/patches/extra-newline.patch
  build/ncurses/patches/sun-color.patch
  build/ncurses/patches/xterm-no-rep.patch
  doc/packages.md
  lib/config.sh
  lib/functions.sh
Labels: package update

#1489 package updates
  build/glib/build.sh
  build/glib/testsuite.log
  build/mercurial/build.sh
  build/python27/common.sh
  build/python35/common.sh
  build/python35/meson/build.sh
  build/python35/meson/local.mog
  build/sqlite3/build.sh
  doc/packages.md
Labels: package update

#1492 iso-codes: update to 4.3
  build/iso-codes/build.sh
  build/ntpsec/build.sh
  doc/packages.md
Labels: package update

#1494 package updates
  build/bzip2/build.sh
  build/bzip2/patches/Makefile.patch
  build/bzip2/patches/selectors.patch
  build/bzip2/patches/series
  build/fio/build.sh
  doc/packages.md
Labels: package update

#1497 curl: update to 7.65.2
  build/curl/build.sh
  build/curl/testsuite.log
  doc/packages.md
Labels: package update

#1500 package updates
  build/bind/build.sh
  build/curl/build.sh
  build/curl/testsuite.log
  doc/packages.md
Labels: package update

#1505 package updates
  build/ncurses/build.sh
  build/python35/mako/build.sh
  build/python35/more-itertools/build.sh
  build/python35/pyrsistent/build.sh
  doc/packages.md
Labels: package update

#1512 glib: update to 2.60.6
  build/glib/build.sh
  doc/packages.md
Labels: package update
