Repository omniosorg/omnios-build, pull requests merged in 2019-10, with the labels that each got.

#1592 package updates
  build/expat/build.sh
  build/jeos/omnios-userland.pkg
  build/libpcap/build.sh
  build/open-vm-tools/build.sh
  build/python35/attrs/build.sh
  build/python35/cheroot/build.sh
  doc/packages.md
Labels: package update

#1597 hg: update to 5.1.2
  build/mercurial/build.sh
  doc/packages.md
Labels: package update

#1593 screen: update to 4.7.0
  build/entire/entire.pkg
  build/jeos/omnios-userland.pkg
  build/screen/build.sh
  doc/packages.md
Labels: package update

#1599 package update
  build/glib/build.sh
  build/glib/patches/gobject.h.patch
  build/glib/patches/libsocket.patch
  build/glib/patches/no_export_dynamic.patch
  build/glib/patches/no_inotify.patch
  build/glib/testsuite.log
  build/iso-codes/build.sh
  build/jeos/omnios-userland.pkg
  build/python35/asn1crypto/build.sh
  build/python35/cherrypy/build.sh
  build/sqlite3/build.sh
  doc/packages.md
Labels: package update

#1600 openssh: update to 8.1p1
  build/entire/entire.pkg
  build/openssh/build.sh
  build/openssh/patches/0001-Skip-config-check.patch
  build/openssh/patches/0002-PAM-Support.patch
  build/openssh/patches/0003-lastlogin.patch
  build/openssh/patches/0004-Reorganise-man-pages-into-illumos-numbering-adjust-t.patch
  build/openssh/patches/0006-GSS-store-creds-for-Solaris.patch
  build/openssh/patches/0007-DTrace-support-for-SFTP.patch
  build/openssh/patches/0008-Add-DisableBanner-option.patch
  build/openssh/patches/0009-PAM-conversation-fix.patch
  build/openssh/patches/0010-PAM-enhancements-for-Solaris.patch
  build/openssh/patches/0013-Solaris-Auditing-support.patch
  build/openssh/patches/0015-Enable-login-to-a-role-if-PAM-is-ok-with-it.patch
  build/openssh/patches/0016-PAM-setcred-failures.patch
  build/openssh/patches/0017-Don-t-call-do_pam_setcred-twice.patch
  build/openssh/patches/0019-PubKeyPlugin-support.patch
  build/openssh/patches/0021-Try-to-create-privsep-chroot-dir-if-it-doesn-t-exist.patch
  build/openssh/patches/0026-Don-t-use-krb5-config-to-check-for-GSSAPI-on-illumos.patch
  build/openssh/patches/0027-Set-default-sshd-options-based-on-etc-default-login.patch
  build/openssh/patches/0029-Accept-LANG-and-LC_-environment-variables-from-clien.patch
  build/openssh/patches/0031-Restore-tcpwrappers-libwrap-support.patch
  build/openssh/patches/gssapi.patch
  build/openssh/patches/revert-dscp.patch
  build/openssh/testsuite.log
  doc/packages.md
Labels: package update

#1602 package updates
  build/jeos/omnios-userland.pkg
  build/python35/cheroot/build.sh
  build/python35/jsonschema/build.sh
  doc/packages.md
Labels: package update

#1603 sqlite3: update to 3300100
  build/sqlite3/build.sh
  doc/packages.md
Labels: package update

#1606 sudo: update to 1.8.28
  build/sudo/build.sh
  build/sudo/testsuite.log
  doc/packages.md
Labels: backport-todo, package update

#1607 sudo: update to 1.8.28 (r151032)
  build/sudo/build.sh
Labels: backport-PR, package update

#1608 sudo: update to 1.8.28 (r151030)
  build/sudo/build.sh
Labels: backport-PR, package update

#1609 sudo: update to 1.8.28 (r151028)
  build/sudo/build.sh
Labels: backport-PR, package update

#1610 sudo: add patch for CVE-2019-14287 (r151022)
  build/sudo/patches/CVE-2019-14287.patch
  build/sudo/patches/series
Labels: backport-PR, package update

#1615 package updates
  build/bind/build.sh
  build/binutils/build.sh
  build/ipmitool/build.sh
  build/libpcap/build.sh
  build/openssh/build.sh
  build/python27/build.sh
  build/python35/build.sh
  build/python37/build.sh
  build/sudo/build.sh
  build/sudo/local.mog
  doc/packages.md
Labels: package update

#1618 sudo: update to 1.8.28p1 (r151028)
  build/sudo/build.sh
Labels: backport-PR, package update

#1614 Python: update to 3.7.5
  build/python37/build.sh
  build/python37/patches/00-dtrace.patch
  build/python37/patches/07-closerange.patch
  build/python37/patches/08-py_db.patch
  build/python37/patches/13-SOABI.patch
  build/python37/patches/20-test_fixes.patch
  build/python37/patches/25-sparc-pgo.patch
  build/python37/testsuite-d.log
  build/python37/testsuite.log
  doc/packages.md
Labels: package update

#1621 nss/nspr: update to 3.47/4.23
  build/mozilla-nss-nspr/build.sh
  doc/packages.md
Labels: package update

#1625 package updates
  build/glib/build.sh
  build/glib/patches/no_export_dynamic.patch
  build/glib/testsuite.log
  build/ncurses/build.sh
  build/open-vm-tools/build.sh
  doc/packages.md
Labels: package update

#1628 libedit: udpate to 20191025-3.1
  build/libedit/build.sh
  doc/packages.md
Labels: package update

#1632 python: update to 3.5.8
  doc/packages.md
Labels: backport-todo, package update

#1631 python: update to 3.5.8 (r151030)
  build/python35/build.sh
Labels: backport-PR, package update
