Repository omniosorg/omnios-build, pull requests merged in 2019-03, with the labels that each got.

#1312 python2: update to 2.7.16
  build/python27/build.sh
  build/python27/patches/series
  build/python27/patches/test_ssl.py.patch
  build/python27/testsuite-32.log
  build/python27/testsuite.log
  doc/packages.md
Labels: backport-todo, package update

#1314 python2: update to 2.7.16 (r151028)
  build/python27/build.sh
  build/python27/patches/series
  build/python27/patches/test_ssl.py.patch
Labels: backport-PR, package update

#1315 python2: update to 2.7.16 (r151022)
  build/python27/build.sh
Labels: backport-PR, package update

#1316 python2: update to 2.7.16 (r151026)
  build/python27/build.sh
Labels: backport-PR, package update

#1321 ntp: update to 4.2.8p13
  build/ntp/build.sh
  doc/packages.md
Labels: backport-todo, package update

#1322 ntp: update to 4.2.8p13 (r151028)
  build/ntp/build.sh
Labels: backport-PR, package update

#1323 ntp: update to 4.2.8p13 (r151026)
  build/ntp/build.sh
Labels: backport-PR, package update

#1324 ntp: update to 4.2.8p13 (r151022)
  build/ntp/build.sh
Labels: backport-PR, package update

#1326 glib2: update to 2.60.0
  build/entire/entire.pkg
  build/glib/build.sh
  build/glib/local.mog
  build/glib/patches/libsocket.patch
  build/glib/patches/mntent.patch
  build/glib/patches/no_export_dynamic.patch
  build/glib/patches/no_inotify.patch
  build/glib/patches/series
  build/glib/patches/setname.patch
  build/glib/patches/threadlib.patch
  build/glib/patches/zignore.patch
  build/glib/testsuite.log
  build/jeos/omnios-userland.pkg
  build/meta/omnios-build-tools.p5m
  build/python35/README
  build/python35/meson/build.sh
  build/python35/meson/local.mog
  build/python35/meson/patches/illumos_gcc.patch
  build/python35/meson/patches/series
  doc/baseline
  doc/packages.md
  lib/config.sh
  lib/functions.sh
Labels: package update

#1330 meson: update to 0.50.0
  build/python35/meson/build.sh
  build/python35/meson/local.mog
  build/python35/meson/patches/illumos_gcc.patch
  doc/packages.md
Labels: package update

#1338 package updates
  build/mozilla-nss-nspr/build.sh
  build/open-vm-tools/build.sh
  doc/packages.md
Labels: package update

#1342 package updates
  build/mercurial/build.sh
  build/meta/illumos-tools.p5m
  build/meta/omnios-build-tools.p5m
  build/openssh/build.sh
  build/python35/build.sh
  build/python35/testsuite-d.log
  build/python35/testsuite.log
  doc/packages.md
Labels: package update

#1345 package updates
  build/ncurses/build.sh
  build/python27/common.sh
  build/python35/common.sh
  build/python35/mako/build.sh
  doc/packages.md
Labels: package update

#1348 libedit: update to 20190324-3.1
  build/libedit/build.sh
  doc/packages.md
Labels: package update

#1350 curl: update to 7.64.1
  build/curl/build.sh
  build/curl/testsuite.log
  doc/packages.md
Labels: package update

#1351 Entire should not include dashrevs
  build/entire/build-entire.sh
Labels: backport-todo

#1359 package updates
  build/jeos/omnios-userland.pkg
  build/ncurses/build.sh
  build/python35/cherrypy/build.sh
  build/python35/more-itertools/build.sh
  doc/packages.md
Labels: package update
