Repository omniosorg/omnios-build, pull requests merged in 2019-02, with the labels that each got.

#1251 mercurial: update to 4.9
  build/mercurial/build.sh
  doc/packages.md
Labels: backport-todo, package update

#1250 Package updates
  build/libmpfr/build.sh
  build/libmpfr/testsuite.log
  build/mozilla-nss-nspr/build.sh
  build/python35/setuptools/build.sh
  doc/packages.md
Labels: package update

#1252 mercurial: backport security patches from 4.9 (r151028)
  build/jeos/omnios-userland.pkg
  build/mercurial/build.sh
  build/mercurial/patches/series
  build/mercurial/patches/subrepo.6c10eba6b9cd.patch
  build/mercurial/patches/subrepo.83377b4b4ae0.patch
Labels: backport-PR, package update

#1249 iso-codes: update to 4.2
  build/iso-codes/build.sh
  doc/packages.md
Labels: package update

#1257 mercurial: update to 4.9 (r151026)
  build/mercurial/build.sh
  build/mercurial/patches/CVE-2018-13348.patch
  build/mercurial/patches/out_of_bounds.patch
  build/mercurial/patches/rewrite_pathlen.patch
  build/mercurial/patches/series
Labels: backport-PR, package update

#1256 mercurial: update to 4.9 (r151028)
  build/jeos/omnios-userland.pkg
  build/mercurial/build.sh
  build/mercurial/patches/series
  build/mercurial/patches/subrepo.6c10eba6b9cd.patch
  build/mercurial/patches/subrepo.83377b4b4ae0.patch
Labels: backport-PR, package update

#1255 mercurial: update to 4.9 (r151022)
  build/mercurial/build.sh
  build/mercurial/patches/CVE-2018-13348.patch
  build/mercurial/patches/out_of_bounds.patch
  build/mercurial/patches/rewrite_pathlen.patch
  build/mercurial/patches/series
Labels: backport-PR, package update

#1254 binutils: update to 2.32
  build/binutils/build.sh
  doc/packages.md
Labels: package update

#1260 bison: update to 3.3.2
  build/bison/build.sh
  build/bison/testsuite.log
  doc/packages.md
Labels: package update

#1259 zsh: update to 5.7.1
  build/zsh/build.sh
  doc/packages.md
  lib/functions.sh
Labels: package update

#1264 curl: update to 7.64.0 (r151022)
  build/curl/build.sh
Labels: backport-PR, package update, security

#1263 curl: update to 7.64.0 (r151026)
  build/curl/build.sh
Labels: backport-PR, package update, security

#1262 curl: update to 7.64.0
  build/curl/build.sh
  build/curl/testsuite.log
  doc/packages.md
Labels: backport-todo, package update, security

#1261 curl: update to 7.64.0 (r151028)
  build/curl/build.sh
Labels: backport-PR, package update, security

#1269 Add developer/object-file dependency to python and install by default (r151022)
  build/entire/entire.p5m
  build/python27/build.sh
Labels: backport-PR

#1268 Add developer/object-file dependency to python and install by default (r151026)
  build/entire/entire.pkg
  build/python27/build.sh
Labels: backport-PR

#1267 Add developer/object-file dependency to python and install by default (r151028)
  build/entire/entire.pkg
  build/python27/build.sh
  build/python35/build.sh
Labels: backport-PR

#1272 package updates
  build/ncurses/build.sh
  build/sqlite3/build.sh
  doc/packages.md
Labels: package update

#1273 sqlite3: update to 3270100
  build/sqlite3/build.sh
  doc/packages.md
Labels: package update

#1274 fio: update to 3.13
  build/fio/build.sh
  doc/packages.md
Labels: package update

#1283 package updates
  build/jeos/omnios-userland.pkg
  build/ncurses/build.sh
  build/python35/cffi/build.sh
  build/python35/more-itertools/build.sh
  build/python35/setuptools/build.sh
  doc/packages.md
Labels: package update

#1284 bind: update to 9.11.5-P4
  build/bind/build.sh
  doc/packages.md
Labels: package update

#1285 sccs: update to 5.09
  build/sccs/build.sh
  build/sccs/local.mog
  build/sccs/patches/04.remove_ccs.patch
  build/sccs/patches/series
  doc/packages.md
Labels: package update

#1289 git: update to 2.21.0
  build/git/build.sh
  build/git/testsuite.log
  doc/packages.md
Labels: package update

#1294 sqlite3: update to 3.27.2
  build/sqlite3/build.sh
  doc/packages.md
Labels: package update

#1295 openssl: update to 1.1.1b/1.0.2q
  build/openssl/build.sh
  build/openssl/testsuite.log
  doc/packages.md
Labels: backport-todo, package update

#1297 openssl: update to 1.0.2r (r151026)
  build/openssl/build.sh
Labels: backport-PR, package update

#1298 openssl: update to 1.0.2r (r151022)
  build/openssl/build.sh
Labels: backport-PR, package update

#1296 openssl: update to 1.0.2r/1.1.1b (r151028)
  build/openssl/build.sh
  build/openssl/local.mog
  build/openssl/preview/build.sh
Labels: backport-PR, package update
