Repository omniosorg/omnios-build, pull requests merged in 2019-05, with the labels that each got.

#1390 tmux: update to 2.9
  build/jeos/omnios-userland.pkg
  build/tmux/build.sh
  doc/packages.md
  tools/test
Labels: package update

#1397 package updates
  build/dma/build.sh
  build/entire/entire.pkg
  build/findutils/build.sh
  build/gettext/build.sh
  build/gettext/testsuite.log
  build/ipmitool/build.sh
  build/jeos/omnios-userland.pkg
  build/less/build.sh
  build/m4/build.sh
  build/m4/testsuite.log
  build/mozilla-nss-nspr/build.sh
  build/ncurses/build.sh
  build/patch/build.sh
  build/pciutils/build.sh
  build/python35/cheroot/build.sh
  build/python35/mako/build.sh
  build/python35/pyrsistent/build.sh
  build/screen/build.sh
  build/swig/build.sh
  build/tcsh/build.sh
  build/tcsh/testsuite.log
  doc/packages.md
Labels: package update

#1398 package updates
  build/gettext/build.sh
  build/python35/pyrsistent/build.sh
  doc/packages.md
Labels: package update

#1400 bind: update to 9.11.7
  build/bind/build.sh
  doc/packages.md
Labels: package update

#1404 package updates
  build/bison/build.sh
  build/bison/testsuite.log
  build/dbus/build.sh
  build/dbus/testsuite.log
  build/jeos/omnios-userland.pkg
  doc/packages.md
Labels: package update

#1416 curl: update to 7.65.0 (r151022)
  build/curl/build.sh
Labels: backport-PR, security

#1415 curl: update to 7.65.0 (r151028)
  build/curl/build.sh
Labels: backport-PR, security

#1414 curl: update to 7.65.0 (r151030)
  build/curl/build.sh
Labels: backport-PR, security

#1413 package updates
  build/bison/build.sh
  build/bison/testsuite.log
  build/curl/build.sh
  build/curl/testsuite.log
  doc/packages.md
Labels: backport-todo, package update, security

#1419 openssl: update to 1.1.1c/1.0.2s
  build/openssl/build.sh
  build/openssl/testsuite.log
  doc/packages.md
Labels: backport-todo, package update

#1420 openssl: update to 1.1.1c/1.0.2s (r151030)
  build/openssl/build.sh
Labels: backport-PR, package update

#1421 openssl: update to 1.1.0k/1.0.2s (r151028)
  build/openssl/build.sh
Labels: backport-PR, package update

#1422 openssl: update to 1.0.2s (r151022)
  build/openssl/build.sh
Labels: backport-PR, package update

#1423 package updates
  build/fio/build.sh
  build/tmux/build.sh
  doc/packages.md
Labels: package update
