Repository omniosorg/omnios-build, pull requests merged in 2019-01, with the labels that each got.

#1202 Python module updates
  build/jeos/omnios-userland.pkg
  build/python35/cheroot/build.sh
  build/python35/more-itertools/build.sh
  doc/packages.md
Labels: package update

#1199 tar: fixing CVE-2018-20482 (r151022)
  build/gtar/build.sh
  build/gtar/patches/CVE-2018-20482.patch
  build/gtar/patches/dot-dot-fix.patch
  build/gtar/patches/progname.patch
  build/gtar/patches/series
  build/jeos/omnios-userland.p5m
Labels: backport-PR, security

#1198 tar: fixing CVE-2018-20482 (r151026)
  build/gtar/build.sh
  build/gtar/patches/CVE-2018-20482.patch
  build/gtar/patches/series
  build/gtar/testsuite.log
Labels: backport-PR, security

#1197 tar: fixing CVE-2018-20482 (r151028)
  build/gtar/build.sh
  build/gtar/patches/CVE-2018-20482.patch
  build/gtar/patches/series
  build/gtar/testsuite.log
Labels: backport-PR, security

#1205 libxml2: update to 2.9.9 (r151026)
  build/libxml2/build.sh
Labels: backport-PR, package update

#1204 libxml2: update to 2.9.9 (r151028)
  build/libxml2/build.sh
Labels: backport-PR, package update

#1203 package updates
  build/diffutils/build.sh
  build/diffutils/testsuite.log
  build/entire/entire.pkg
  build/gtar/build.sh
  build/gtar/patches/CVE-2018-20482.patch
  build/gtar/patches/progname.patch
  build/gtar/patches/series
  build/gtar/patches/sys-limits.patch
  build/gtar/testsuite.log
  build/jeos/omnios-userland.pkg
  build/libxml2/build.sh
  build/libxml2/testsuite.log
  doc/packages.md
Labels: package update

#1207 GNU tar: update to 1.31 (r151028)
  build/gtar/build.sh
  build/gtar/patches/CVE-2018-20482.patch
  build/gtar/patches/series
  build/gtar/patches/sys-limits.patch
  build/jeos/omnios-userland.pkg
Labels: backport-PR, package update

#1209 GNU tar: update to 1.31 (r151022)
  build/gtar/build.sh
  build/gtar/patches/CVE-2018-20482.patch
  build/gtar/patches/series
  build/jeos/omnios-userland.p5m
Labels: backport-PR, package update

#1208 GNU tar: update to 1.31 (r151026)
  build/gtar/build.sh
  build/gtar/patches/CVE-2018-20482.patch
  build/gtar/patches/series
  build/gtar/patches/sys-limits.patch
  build/jeos/omnios-userland.pkg
Labels: backport-PR, package update

#1211 readline: update to 8.0
  build/entire/entire.pkg
  build/jeos/omnios-userland.pkg
  build/readline/build.sh
  build/readline/local.mog
  build/readline/patches-7/README
  build/readline/patches-7/readline70-001
  build/readline/patches-7/readline70-002
  build/readline/patches-7/readline70-003
  build/readline/patches-7/readline70-004
  build/readline/patches-7/readline70-005
  build/readline/patches-7/series
  doc/packages.md
Labels: package update

#1213 bash: update to 5.0
  build/bash/build.sh
  build/bash/local.mog
  build/bash/patches/bash-4.4-patches/bash44-001
  build/bash/patches/bash-4.4-patches/bash44-002
  build/bash/patches/bash-4.4-patches/bash44-003
  build/bash/patches/bash-4.4-patches/bash44-004
  build/bash/patches/bash-4.4-patches/bash44-005
  build/bash/patches/bash-4.4-patches/bash44-006
  build/bash/patches/bash-4.4-patches/bash44-007
  build/bash/patches/bash-4.4-patches/bash44-008
  build/bash/patches/bash-4.4-patches/bash44-009
  build/bash/patches/bash-4.4-patches/bash44-010
  build/bash/patches/bash-4.4-patches/bash44-011
  build/bash/patches/bash-4.4-patches/bash44-012
  build/bash/patches/bash-4.4-patches/bash44-013
  build/bash/patches/bash-4.4-patches/bash44-014
  build/bash/patches/bash-4.4-patches/bash44-015
  build/bash/patches/bash-4.4-patches/bash44-016
  build/bash/patches/bash-4.4-patches/bash44-017
  build/bash/patches/bash-4.4-patches/bash44-018
  build/bash/patches/bash-4.4-patches/bash44-019
  build/bash/patches/bash-4.4-patches/bash44-020
  build/bash/patches/bash-4.4-patches/bash44-021
  build/bash/patches/bash-4.4-patches/bash44-022
  build/bash/patches/bash-4.4-patches/bash44-023
  build/bash/patches/series
  build/entire/entire.pkg
  build/jeos/omnios-userland.pkg
  doc/packages.md
Labels: package update

#1215 mercurial: update to 4.8.2
  build/mercurial/build.sh
  doc/packages.md
Labels: package update

#1221 ntpsec: update to 1.1.3
  build/ntpsec/build.sh
  build/ntpsec/patches/conf.patch
  build/ntpsec/patches/mansections.patch
  build/ntpsec/patches/nonet.patch
  build/ntpsec/patches/pie.patch
  build/ntpsec/testsuite.log
  doc/packages.md
Labels: backport-todo, package update

#1227 Add scp client CVE mitigations
  build/openssh/build.sh
  build/openssh/patches/scp-name-validator.patch
  build/openssh/patches/series
Labels: backport-todo

#1223 Add scp client CVE mitigations (r151028)
  build/jeos/omnios-userland.pkg
  build/openssh/build.sh
  build/openssh/patches/scp-name-validator.patch
  build/openssh/patches/series
  build/openssh/testsuite.log
Labels: backport-PR

#1225 Add scp client CVE mitigations (r151026)
  build/openssh/patches/scp-name-validator.patch
  build/openssh/patches/series
Labels: backport-PR

#1226 Add scp client CVE mitigations (r151022)
  build/openssh/patches/scp-name-validator.patch
  build/openssh/patches/series
Labels: backport-PR

#1228 sudo: update to 1.8.27
  build/sudo/build.sh
  build/sudo/local.mog
  build/sudo/testsuite.log
  doc/packages.md
Labels: package update

#1222 ntpsec: update to 1.1.3 (r151028)
  build/ntpsec/build.sh
  build/ntpsec/patches/conf.patch
  build/ntpsec/patches/mansections.patch
  build/ntpsec/patches/nonet.patch
  build/ntpsec/patches/pie.patch
  build/ntpsec/testsuite.log
Labels: backport-PR, package update

#1224 ntpsec: update to 1.1.3 (r151026)
  build/ntpsec/build.sh
  build/ntpsec/patches/conf.patch
  build/ntpsec/patches/mansections.patch
  build/ntpsec/patches/nonet.patch
  build/ntpsec/patches/pie.patch
Labels: backport-PR, package update

#1234 nghttp2: update to 1.36.0
  build/nghttp2/build.sh
  doc/packages.md
Labels: package update

#1233 ncurses: update to 20190112
  build/ncurses/build.sh
  doc/packages.md
Labels: package update

#1237 nss: update to 3.41.1
  build/mozilla-nss-nspr/build.sh
  doc/packages.md
Labels: package update

#1238 zsh: update to 5.7 (and 64-bit)
  build/jeos/omnios-userland.pkg
  build/zsh/build.sh
  build/zsh/testsuite.log
  doc/packages.md
Labels: package update

#1244 Python module updates
  build/jeos/omnios-userland.pkg
  build/python35/cryptography/build.sh
  build/python35/pyopenssl/build.sh
  doc/packages.md
Labels: package update

#1243 glib: update to 2.58.3
  build/glib/build.sh
  build/glib/patches/mntent.patch
  build/glib/patches/setname.patch
  build/glib/patches/threadlib.patch
  build/glib/testsuite.log
  doc/packages.md
Labels: package update

#1242 bison: update to 3.3
  build/bison/build.sh
  build/bison/testsuite.log
  build/jeos/omnios-userland.pkg
  doc/packages.md
Labels: package update

#1245 bison: update to 3.3.1
  build/bison/build.sh
  build/bison/testsuite.log
  doc/packages.md
Labels: package update

#1246 nss: update to 3.42
  build/mozilla-nss-nspr/build.sh
  doc/packages.md
Labels: package update

#1248 EC2 credential service needs to try harder
  build/ec2-credential/files/ec2-credential.xml
  build/ec2-credential/files/install-ec2-credential
Labels: enhancement
