Repository omniosorg/omnios-build, pull requests merged in 2020-03, with the labels that each got.

#1751 openssh: update to 8.2p1
  build/entire/entire.pkg
  build/openssh/build.sh
  build/openssh/patches/0001-Skip-config-check.patch
  build/openssh/patches/0002-PAM-Support.patch
  build/openssh/patches/0003-lastlogin.patch
  build/openssh/patches/0004-Reorganise-man-pages-into-illumos-numbering-adjust-t.patch
  build/openssh/patches/0006-GSS-store-creds-for-Solaris.patch
  build/openssh/patches/0007-DTrace-support-for-SFTP.patch
  build/openssh/patches/0008-Add-DisableBanner-option.patch
  build/openssh/patches/0009-PAM-conversation-fix.patch
  build/openssh/patches/0010-PAM-enhancements-for-Solaris.patch
  build/openssh/patches/0013-Solaris-Auditing-support.patch
  build/openssh/patches/0015-Enable-login-to-a-role-if-PAM-is-ok-with-it.patch
  build/openssh/patches/0016-PAM-setcred-failures.patch
  build/openssh/patches/0018-Per-session-xauthfile.patch
  build/openssh/patches/0019-PubKeyPlugin-support.patch
  build/openssh/patches/0021-Try-to-create-privsep-chroot-dir-if-it-doesn-t-exist.patch
  build/openssh/patches/0026-Don-t-use-krb5-config-to-check-for-GSSAPI-on-illumos.patch
  build/openssh/patches/0027-Set-default-sshd-options-based-on-etc-default-login.patch
  build/openssh/patches/0029-Accept-LANG-and-LC_-environment-variables-from-clien.patch
  build/openssh/patches/0031-Restore-tcpwrappers-libwrap-support.patch
  build/openssh/patches/gssapi.patch
  build/openssh/patches/revert-dscp.patch
  build/openssh/server.mog
  build/openssh/testsuite.log
  doc/packages.md
Labels: package update

#1753 package updates
  build/bind/build.sh
  build/coreutils/build.sh
  build/coreutils/patches/Makefile.in.patch
  build/coreutils/patches/ln-port-to-platforms-lacking-O_DIRECTORY.patch
  build/coreutils/patches/ln-s-catch-EINVAL.patch
  build/coreutils/patches/mountlist.c.patch
  build/coreutils/patches/series
  build/coreutils/patches/stdbuf.c.patch
  build/coreutils/testsuite.log
  build/curl/build.sh
  build/curl/testsuite.log
  build/entire/entire.pkg
  build/glib/build.sh
  build/glib/local.mog
  build/glib/patches/libsocket.patch
  build/glib/patches/mntent.patch
  build/glib/patches/no_export_dynamic.patch
  build/glib/patches/no_inotify.patch
  build/glib/testsuite.log
  build/jeos/omnios-userland.pkg
  build/mercurial/build.sh
  build/ntp/build.sh
  build/ntp/local.mog
  build/ntp/patches/etcfix.patch
  build/ntp/patches/timing.patch
  build/ntp/testsuite.log
  build/ntpsec/local.mog
  build/python37/cheroot/build.sh
  build/python37/idna/build.sh
  build/python37/mako/build.sh
  build/python37/meson/build.sh
  build/python37/pycparser/build.sh
  build/python37/setuptools/build.sh
  build/python37/zipp/build.sh
  doc/packages.md
  lib/functions.sh
Labels: package update

#1755 package updates
  build/bison/build.sh
  build/bison/testsuite.log
  build/mozilla-nss-nspr/build.sh
  build/python37/setuptools/build.sh
  build/python37/zipp/build.sh
  doc/packages.md
Labels: package update

#1756 Python - update to 3.7.7
  build/python37/build.sh
  build/python37/patches/00-dtrace.patch
  build/python37/patches/13-SOABI.patch
  build/python37/patches/18-obmalloc-adi.patch
  build/python37/patches/19-pty.patch
  build/python37/patches/25-sparc-pgo.patch
  build/python37/patches/series
  build/python37/testsuite-d.log
  build/python37/testsuite.log
  doc/packages.md
Labels: package update

#1762 package updates
  build/entire/entire.pkg
  build/fio/build.sh
  build/glib/build.sh
  build/jeos/omnios-userland.pkg
  build/perl/build.sh
  build/perl/testsuite.log
  build/python37/setuptools/build.sh
  build/sudo/build.sh
  build/sudo/testsuite.log
  doc/packages.md
Labels: package update

#1764 package updates
  build/bind/build.sh
  build/git/build.sh
  build/git/testsuite.log
  build/openssl/build.sh
  build/openssl/testsuite.log
  build/xz/build.sh
  build/xz/local.mog
  build/xz/patches/pthread.diff
  build/xz/testsuite.log
  doc/packages.md
Labels: backport-todo, package update

#1774 Backports to r151030 (openssl/fio)
  build/fio/build.sh
  build/openssl/build.sh
Labels: backport-PR

#1773 Backports to r151032 (openssl/fio)
  build/fio/build.sh
  build/openssl/build.sh
Labels: backport-PR

#1770 package updates
  build/automake/build.sh
  build/automake/testsuite.log
  build/git/build.sh
  build/git/testsuite.log
  build/jeos/omnios-userland.pkg
  build/python37/coverage/build.sh
  build/python37/importlib-metadata/build.sh
  build/python37/pyrsistent/build.sh
  build/python37/setuptools/build.sh
  build/python37/tempora/build.sh
  build/sigcpp/build.sh
  build/sigcpp/testsuite.log
  doc/packages.md
Labels: package update
