Repository omniosorg/omnios-build, pull requests merged in 2020-11, with the labels that each got.

#2089 package updates
  build/bind/build.sh
  build/bison/build.sh
  build/bison/testsuite.log
  build/expat/build.sh
  build/git/build.sh
  build/git/testsuite.log
  build/glib/build.sh
  build/libmpc/build.sh
  build/mercurial/build.sh
  build/mozilla-nss-nspr/build.sh
  build/open-vm-tools/build.sh
  build/rsyslog/build.sh
  build/rsyslog/testsuite.log
  doc/packages.md
Labels: package update

#2091 ntpsec: update to 1.2.0
  build/entire/entire.pkg
  build/ntpsec/build.sh
  build/ntpsec/local.mog
  build/ntpsec/patches/conf.patch
  build/ntpsec/patches/mansections.patch
  build/ntpsec/patches/pie.patch
  build/ntpsec/patches/unneeded_libs.patch
  build/ntpsec/testsuite.log
  doc/packages.md
Labels: package update

#2096 python3.9: Update patches from upstream and modules
  build/jeos/omnios-userland.pkg
  build/python37/patches/CVE-2020-27619.patch
  build/python37/patches/series
  build/python39/attrs/build.sh
  build/python39/build.sh
  build/python39/cryptography/build.sh
  build/python39/files/test.exclude
  build/python39/jsonrpclib/build.sh
  build/python39/jsonrpclib/patches/python39.patch
  build/python39/jsonrpclib/patches/series
  build/python39/meson/build.sh
  build/python39/meson/patches/compiler_def_static_linker.patch
  build/python39/patches/CVE-2020-27619.patch
  build/python39/patches/cgiserver.patch
  build/python39/patches/locale-encoding.patch
  build/python39/patches/mod-posix-sendfile.patch
  build/python39/patches/module-dlpi.patch
  build/python39/patches/module-py_db.patch
  build/python39/patches/module-ucred.patch
  build/python39/patches/series
  build/python39/patches/test-pkgutil.patch
  build/python39/prettytable/build.sh
  build/python39/pytz/build.sh
  build/python39/rapidjson/build.sh
  build/python39/setuptools/build.sh
  build/python39/tempora/build.sh
  doc/packages.md
Labels: package update

#2103 rapidjson should produce the same output as simplejson (r151036)
  build/python37/rapidjson/patches/hexdigits.patch
  build/python37/rapidjson/patches/series
Labels: backport-PR

#2101 openjdk8: update to 1.8.275u1
  build/openjdk8/build.sh
  build/openjdk8/patches/KPIC.patch
  build/openjdk8/patches/ldflags-pie.patch
  build/openjdk8/patches/patch-common_autoconf_generated-configure.sh.patch
  build/openjdk8/patches/patch-common_autoconf_spec.gmk.in.patch
  build/openjdk8/patches/patch-hotspot_make_solaris_makefiles_vm.make.patch
  build/openjdk8/patches/patch-hotspot_src_os__cpu_solaris__x86_vm_os__solaris__x86.inline.hpp.patch
  build/openjdk8/patches/patch-hotspot_src_os_solaris_proc__saproc.cpp.patch
  build/openjdk8/patches/patch-hotspot_src_os_solaris_vm_os__solaris.cpp.patch
  build/openjdk8/patches/patch-hotspot_src_share_vm_oops_klass.hpp.patch
  build/openjdk8/patches/patch-hotspot_src_share_vm_opto_library__call.cpp.patch
  build/openjdk8/patches/patch-hotspot_src_share_vm_runtime_arguments.cpp.patch
  build/openjdk8/patches/patch-jdk_make_CompileLaunchers.gmk.patch
  build/openjdk8/patches/patch-jdk_make_CreateJars.gmk.patch
  build/openjdk8/patches/patch-jdk_make_Images.gmk.patch
  build/openjdk8/patches/patch-jdk_make_lib_Awt2dLibraries.gmk.patch
  build/openjdk8/patches/patch-jdk_src_solaris_native_java_net_NetworkInterface.c.patch
  build/openjdk8/patches/patch-jdk_src_solaris_native_java_net_net__util__md.c.patch
  build/openjdk8/patches/patch-jdk_test_java_lang_management_OperatingSystemMXBean_GetSystemLoadAverage.java.patch
  build/openjdk8/patches/patch-jdk_test_sun_security_ec_TestEC.java.patch
  doc/packages.md
Labels: package update

#2108 Core package updates
  build/bison/build.sh
  build/bison/testsuite.log
  build/libgmp/build.sh
  build/libgmp/testsuite.log
  build/mozilla-nss-nspr/build.sh
  build/mozilla-nss-nspr/patches/nss-modernize.patch
  build/mozilla-nss-nspr/patches/pkcs11v3.patch
  build/mozilla-nss-nspr/patches/shadowing.patch
  doc/packages.md
  lib/config.sh
Labels: package update

#2114 pciutils: revert parts of 'Library: Handle domains in all back-ends'
  build/jeos/omnios-userland.pkg
  build/pciutils/build.sh
  build/pciutils/patches/Revert-Library-Handle-domains-in-all-back-ends.patch
  build/pciutils/patches/series
Labels: backport-todo

#2115 pciutils: revert parts of 'Library: Handle domains in all back-ends' (r151036)
  build/jeos/omnios-userland.pkg
  build/pciutils/build.sh
  build/pciutils/patches/Revert-Library-Handle-domains-in-all-back-ends.patch
  build/pciutils/patches/series
Labels: backport-PR

#2121 package updates
  build/jeos/omnios-userland.pkg
  build/python39/cffi/build.sh
  build/python39/cheroot/build.sh
  build/python39/cheroot/test
  build/python39/more-itertools/build.sh
  build/python39/orjson/build.sh
  build/python39/portend/build.sh
  build/python39/prettytable/build.sh
  build/python39/pyopenssl/build.sh
  build/python39/rapidjson/build.sh
  build/sigcpp/build.sh
  build/sigcpp/testsuite.log
  doc/packages.md
Labels: package update
