Repository omniosorg/omnios-build, pull requests merged in 2020-05, with the labels that each got.

#1837 package updates
  build/curl/build.sh
  build/curl/testsuite.log
  build/jeos/omnios-userland.pkg
  build/mercurial/build.sh
  build/mozilla-nss-nspr/build.sh
  build/python37/jaraco/build.sh
  build/python37/meson/build.sh
  build/python37/pytz/build.sh
  doc/packages.md
Labels: package update

#1844 gcc8 is still required to build omnios-build packages (r151034)
  build/meta/omnios-build-tools.p5m
Labels: backport-PR

#1843 gcc8 is still required to build omnios-build packages
  build/meta/omnios-build-tools.p5m
Labels: backport-todo

#1860 package updates
  build/bind/build.sh
  build/bison/build.sh
  build/bison/testsuite.log
  build/glib/build.sh
  build/glib/testsuite.log
  build/iso-codes/build.sh
  build/mozilla-nss-nspr/build.sh
  build/python37/meson/build.sh
  build/python37/more-itertools/build.sh
  build/python37/pycodestyle/build.sh
  build/python37/setuptools/build.sh
  doc/packages.md
Labels: package update

#1870 openssh: update to 8.3p1
  build/entire/entire.pkg
  build/openssh/build.sh
  build/openssh/files/sshd
  build/openssh/patches/0001-Skip-config-check.patch
  build/openssh/patches/0002-PAM-Support.patch
  build/openssh/patches/0003-lastlogin.patch
  build/openssh/patches/0004-Reorganise-man-pages-into-illumos-numbering-adjust-t.patch
  build/openssh/patches/0006-GSS-store-creds-for-Solaris.patch
  build/openssh/patches/0007-DTrace-support-for-SFTP.patch
  build/openssh/patches/0008-Add-DisableBanner-option.patch
  build/openssh/patches/0010-PAM-enhancements-for-Solaris.patch
  build/openssh/patches/0013-Solaris-Auditing-support.patch
  build/openssh/patches/0015-Enable-login-to-a-role-if-PAM-is-ok-with-it.patch
  build/openssh/patches/0019-PubKeyPlugin-support.patch
  build/openssh/patches/0021-Try-to-create-privsep-chroot-dir-if-it-doesn-t-exist.patch
  build/openssh/patches/0026-Don-t-use-krb5-config-to-check-for-GSSAPI-on-illumos.patch
  build/openssh/patches/0027-Set-default-sshd-options-based-on-etc-default-login.patch
  build/openssh/patches/0029-Accept-LANG-and-LC_-environment-variables-from-clien.patch
  build/openssh/patches/0031-Restore-tcpwrappers-libwrap-support.patch
  build/openssh/patches/gssapi.patch
  build/openssh/patches/revert-dscp.patch
  build/openssh/patches/ssh-copy-id.patch
  build/openssh/testsuite.log
  doc/packages.md
Labels: package update

#1871 ntpsec: update to 1.1.9
  build/ntpsec/build.sh
  build/ntpsec/patches/conf.patch
  build/ntpsec/patches/mansections.patch
  build/ntpsec/patches/multiple_symbols.patch
  build/ntpsec/patches/nonet.patch
  build/ntpsec/patches/pie.patch
  build/ntpsec/patches/series
  build/ntpsec/patches/unneeded_libs.patch
  build/ntpsec/testsuite.log
  doc/packages.md
Labels: package update
