Repository omniosorg/omnios-build, pull requests merged in 2020-08, with the labels that each got.

#1966 openjdk8: udpate to 1.8.265-01
  build/openjdk11/build.sh
  build/openjdk8/build.sh
  doc/packages.md
Labels: package update

#1971 mercurial: update to 5.5
  build/bison/build.sh
  build/bison/testsuite.log
  build/mercurial/build.sh
  doc/packages.md
Labels: package update

#1978 openjdk8: udpate to 1.8.265-01 (r151034)
  build/openjdk8/build.sh
Labels: backport-PR

#1979 openjdk8: udpate to 1.8.265-01 (r151032)
  build/openjdk8/build.sh
Labels: backport-PR

#1980 openjdk8: udpate to 1.8.265-01 (r151030)
  build/openjdk8/build.sh
Labels: backport-PR

#1977 python3: update to 3.7.8 (r151034)
  build/python37/build.sh
  build/python37/patches/07-closerange.patch
  build/python37/patches/20-test_fixes.patch
  build/python37/patches/CVE-2020-14422.patch
  build/python37/patches/CVE-2020-20907.patch
  build/python37/patches/regrtest-processgroup.patch
  build/python37/patches/series
Labels: backport-PR, package update

#1989 core package and python module updates
  build/fio/build.sh
  build/python37/cffi/build.sh
  build/python37/cheroot/build.sh
  build/python37/cheroot/local.mog
  build/python37/meson/build.sh
  build/python37/meson/patches/compiler_def_static_linker.patch
  build/python37/setuptools/build.sh
  doc/packages.md
Labels: package update

#1991 python3: update to 3.7.9
  build/python37/build.sh
  build/python37/patches/00-dtrace.patch
  build/python37/patches/13-SOABI.patch
  build/python37/patches/CVE-2020-14422.patch
  build/python37/patches/CVE-2020-20907.patch
  build/python37/patches/disable_epoll.patch
  build/python37/patches/no-zip-in-sys-path.patch
  build/python37/patches/series
  build/python37/testsuite-d.log
  build/python37/testsuite.log
  doc/packages.md
Labels: package update

#1994 curl, glib, mpc updates
  build/curl/build.sh
  build/curl/testsuite.log
  build/glib/build.sh
  build/libmpc/build.sh
  build/libmpc/local.mog
  build/libmpc/testsuite.log
  doc/packages.md
Labels: package update

#2008 Add rsyslog package
  build/automake/build.sh
  build/bison/build.sh
  build/ca-bundle/build.sh
  build/coreutils/build.sh
  build/findutils/build.sh
  build/gcc10/build.sh
  build/gcc44/build.sh
  build/gcc7/build.sh
  build/gcc9/build.sh
  build/glib/build.sh
  build/jeos/omnios-userland.pkg
  build/lz4/build.sh
  build/ntpsec/build.sh
  build/open-vm-tools/build.sh
  build/openjdk8/build.sh
  build/pciutils/build.sh
  build/rsync/build.sh
  build/rsyslog/build.sh
  build/rsyslog/files/rsyslog
  build/rsyslog/files/rsyslog.conf
  build/rsyslog/files/rsyslog.xml
  build/rsyslog/local.mog
  build/rsyslog/patches/man.patch
  build/rsyslog/patches/openssl.patch
  build/rsyslog/patches/runtime-parser.c.patch
  build/rsyslog/patches/runtime-rsyslog.h.patch
  build/rsyslog/patches/series
  build/rsyslog/testsuite.log
  build/urxvt/build.sh
  build/vim/build.sh
  build/zstd/build.sh
  doc/baseline
  doc/packages.md
  lib/config.sh
  lib/functions.sh
  tools/test
Labels: package update

#2010 package updates
  build/jeos/omnios-userland.pkg
  build/nasm/build.sh
  build/python37/attrs/build.sh
  build/python37/cheroot/build.sh
  build/python37/cryptography/build.sh
  build/python37/more-itertools/build.sh
  doc/packages.md
Labels: package update
