Repository omniosorg/omnios-build, pull requests merged in 2020-02, with the labels that each got.

#1730 package updates
  build/binutils/build.sh
  build/mercurial/build.sh
  build/sudo/build.sh
  build/sudo/testsuite.log
  doc/packages.md
Labels: backport-todo, package update

#1734 package updates
  build/dma/build.sh
  build/dma/patches/dma-illumos-port.patch
  build/dma/patches/from.patch
  build/dma/patches/series
  build/dma/patches/strlcpy.patch
  build/entire/entire.pkg
  build/fio/build.sh
  build/fio/patches/Makefile.patch
  build/fio/patches/diskutil.h.patch
  build/fio/patches/series
  build/jeos/omnios-userland.pkg
  build/ncurses/build.sh
  build/python37/importlib-metadata/build.sh
  build/python37/more-itertools/build.sh
  build/python37/pycurl/build.sh
  build/python37/zipp/build.sh
  build/screen/build.sh
  doc/packages.md
  lib/functions.sh
Labels: package update

#1731 sudo: patch for CVE-2019-18634 (r32)
  build/sudo/patches/CVE-2019-18634.patch
  build/sudo/patches/Makefile.in.patch
  build/sudo/patches/audit-event.patch
  build/sudo/patches/series
Labels: backport-PR

#1732 sudo: patch for CVE-2019-18634 (r30)
  build/sudo/patches/CVE-2019-18634.patch
  build/sudo/patches/Makefile.in.patch
  build/sudo/patches/audit-event.patch
  build/sudo/patches/series
Labels: backport-PR

#1733 sudo: patch for CVE-2019-18634 (r22)
  build/sudo/patches/CVE-2019-18634.patch
  build/sudo/patches/series
Labels: backport-PR

#1737 package updates
  build/bash/build.sh
  build/bash/patches/bash-5.0-patches/bash50-012
  build/bash/patches/bash-5.0-patches/bash50-013
  build/bash/patches/bash-5.0-patches/bash50-014
  build/bash/patches/bash-5.0-patches/bash50-015
  build/bash/patches/bash-5.0-patches/bash50-016
  build/bash/patches/series
  build/jeos/omnios-userland.pkg
  build/mozilla-nss-nspr/build.sh
  build/mozilla-nss-nspr/patches/endian.patch
  build/mozilla-nss-nspr/patches/series
  build/python37/cffi/build.sh
  build/python37/zipp/build.sh
  doc/packages.md
Labels: package update

#1745 package updates
  build/bison/build.sh
  build/bison/testsuite.log
  build/libxml2/build.sh
  build/libxml2/testsuite.log
  build/ncurses/build.sh
  build/pcre/build.sh
  build/pcre/testsuite.log
  doc/packages.md
  lib/functions.sh
Labels: package update

#1747 zsh: update to 5.8
  build/jeos/omnios-userland.pkg
  build/zsh/build.sh
  build/zsh/patches/no-posix.patch
  build/zsh/patches/series
  build/zsh/patches/shared.patch
  build/zsh/patches/testsuite.patch
  doc/packages.md
Labels: package update

#1746 package updates
  build/git/build.sh
  build/glib/build.sh
  build/glib/testsuite.log
  doc/packages.md
  lib/functions.sh
Labels: package update
