Repository omniosorg/omnios-build, pull requests merged in 2020-06, with the labels that each got.

#1881 pciutils: update to 3.7.0
  build/jeos/omnios-userland.pkg
  build/pciutils/build.sh
  doc/packages.md
  doc/rtime
  lib/config.sh
  lib/functions.sh
Labels: package update

#1877 nss: update to 3.53
  build/mozilla-nss-nspr/build.sh
  build/mozilla-nss-nspr/patches/nss-modernize.patch
  build/mozilla-nss-nspr/patches/shadowing.patch
  doc/packages.md
Labels: package update

#1891 git: update to 2.27.0
  build/git/build.sh
  build/git/testsuite.log
  doc/packages.md
Labels: package update

#1890 nghttp2: update to 1.41.0 (r151030)
  build/nghttp2/build.sh
Labels: backport-PR, package update, security

#1889 nghttp2: Fix for CVE-2020-11080 (r151032)
  build/jeos/omnios-userland.pkg
  build/nghttp2/build.sh
  build/nghttp2/patches/CVE-2020-11080.patch
  build/nghttp2/patches/series
Labels: backport-PR, package update, security

#1888 nghttp2: update to 1.41.0 (r151034)
  build/nghttp2/build.sh
Labels: backport-PR, package update, security

#1887 nghttp2: update to 1.41.0
  build/nghttp2/build.sh
  build/nghttp2/testsuite.log
  doc/packages.md
Labels: backport-todo, package update, security

#1886 perl: update to 5.28.3 (r151030)
  build/perl/build.sh
Labels: backport-PR, security

#1885 perl: update to 5.30.3 (r151032)
  build/perl/build.sh
Labels: backport-PR, security

#1884 perl: update to 5.30.3 (r151034)
  build/perl/build.sh
Labels: backport-PR, security

#1883 perl: update to 5.30.3
  build/perl/build.sh
  build/perl/testsuite.log
  doc/packages.md
Labels: backport-todo, package update, security

#1893 dbus: update to 1.12.18
  build/dbus/build.sh
  build/dbus/patches/inline.patch
  build/dbus/patches/msg_ctrunc.patch
  build/dbus/patches/series
  build/dbus/testsuite.log
  doc/packages.md
Labels: package update

#1892 bison: update to 3.6.3
  build/bison/build.sh
  build/bison/testsuite.log
  doc/packages.md
Labels: package update

#1897 mercurial: update to 5.4.1
  build/mercurial/build.sh
  doc/packages.md
Labels: package update

#1902 open-vm-tools: update to 11.1.0 (r151030)
  build/jeos/omnios-userland.pkg
  build/open-vm-tools/build.sh
  build/open-vm-tools/patches/gnu-ld.patch
  build/open-vm-tools/patches/lock.patch
  build/open-vm-tools/patches/nicInfo.patch
Labels: backport-PR

#1913 Package updates
  build/bind/build.sh
  build/mozilla-nss-nspr/build.sh
  build/sqlite3/build.sh
  doc/packages.md
  lib/functions.sh
Labels: package update

#1919 sudo: update to 1.9.1
  build/sudo/build.sh
  build/sudo/testsuite.log
  doc/packages.md
Labels: package update

#1920 curl: update to 7.71.0
  build/curl/build.sh
  build/curl/testsuite.log
  doc/packages.md
Labels: package update

#1924 perl: update to 5.32
  build/entire/entire.pkg
  build/jeos/omnios-userland.pkg
  build/perl/build.sh
  build/perl/patches/dtrace.patch
  build/perl/patches/patch-hints_solaris__2.sh
  build/perl/patches/series
  build/perl/testsuite.log
  doc/packages.md
Labels: package update
