Repository omniosorg/omnios-build, pull requests merged in 2022-09, with the labels that each got.

#2920 Core package updates
  build/chrony/build.sh
  build/chrony/patches/illumos.patch
  build/chrony/testsuite.log
  build/curl/build.sh
  build/curl/testsuite.log
  build/fio/build.sh
  build/fio/patches/libraries.patch
  build/gawk/build.sh
  build/gawk/local.mog
  build/gawk/testsuite.log
  build/git/build.sh
  build/grep/build.sh
  build/grep/local.mog
  build/grep/testsuite.log
  build/ipmitool/build.sh
  build/ipmitool/patches/7052161.patch
  build/ipmitool/patches/POSIX.patch
  build/ipmitool/patches/configure.patch
  build/ipmitool/patches/fix-MAX.patch
  build/ipmitool/patches/ipmievd.local4.patch
  build/ipmitool/patches/multiple_symbols.patch
  build/ipmitool/patches/openssl11.patch
  build/ipmitool/patches/series
  build/ipmitool/patches/v6-noaddr16.patch
  build/less/build.sh
  build/libxml2/build.sh
  build/mercurial/build.sh
  build/sqlite3/build.sh
  doc/packages.md
Labels: package update

#2925 python310 - update from 3.10.6 to 3.10.7
  build/python310/build.sh
  build/python310/patches/autoconf-macros.patch
  doc/packages.md
Labels: package update, backport-todo

#2924 python310 - update from 3.10.6 to 3.10.7 (r151042)
  build/python310/build.sh
Labels: package update, backport-PR

#2923 python39 - update from 3.9.13 to 3.9.14 (r151040)
  build/python39/build.sh
  build/python39/patches/module-py_db.patch
Labels: package update, backport-PR

#2922 python39 - update from 3.9.13 to 3.9.14 (r151038)
  build/python39/build.sh
Labels: package update, backport-PR

#2926 rsync - update from 3.2.5 to 3.2.6
  build/rsync/build.sh
  doc/packages.md
Labels: package update

#2928 openjdk updates
  build/openjdk11/build.sh
  build/openjdk17/build.sh
  doc/packages.md
Labels: package update

#2930 expat - update from 2.4.7 to 2.4.9 (r151040)
  build/expat/build.sh
Labels: package update, backport-PR

#2932 expat - update from 2.4.7 to 2.4.9 (r151038)
  build/expat/build.sh
Labels: package update, backport-PR

#2929 Core package updates
  build/bind/build.sh
  build/expat/build.sh
  build/expat/patches/manpage.patch
  build/expat/patches/no_link_libm.patch
  build/libffi/build.sh
  build/libffi/local.mog
  build/libffi/patches-3.3/unwind-instead-of-exceptions.patch
  build/libffi/patches/unwind-instead-of-exceptions.patch
  build/mozilla-nss-nspr/build.sh
  build/mozilla-nss-nspr/patches/nss-modernize.patch
  build/nghttp2/build.sh
  build/nghttp2/testsuite.log
  build/python310/cryptography/build.sh
  build/python310/idna/build.sh
  build/python310/jsonschema/build.sh
  build/python310/meson/build.sh
  build/python310/meson/patches/compiler_def_static_linker.patch
  build/python310/orjson/build.sh
  build/python310/setuptools-rust/build.sh
  doc/packages.md
Labels: package update, backport-todo

#2931 expat - update from 2.4.8 to 2.4.9 (r151042)
  build/expat/build.sh
Labels: package update, backport-PR

#2933 glib2: update to 2.74.0
  build/glib/build.sh
  build/glib/patches/devnull_poll.patch
  build/glib/patches/gobject.h.patch
  build/glib/patches/libsocket.patch
  build/glib/patches/mntent.patch
  build/glib/patches/no_export_dynamic.patch
  build/glib/patches/no_inotify.patch
  build/glib/patches/printf.patch
  build/glib/patches/series
  build/glib/patches/test-credentials-clear-error.patch
  build/glib/testsuite.log
  doc/licences
  doc/packages.md
Labels: package update

#2937 dbus: update from 1.14.0 to 1.14.2
  build/dbus/build.sh
  build/dbus/testsuite.log
  doc/packages.md
Labels: package update

#2938 sqlite3 - update from 3390300 to 3390400
  build/sqlite3/build.sh
  doc/packages.md
Labels: package update
