Repository omniosorg/omnios-build, pull requests merged in 2022-03, with the labels that each got.

#2695 Core package updates
  build/dbus/build.sh
  build/dbus/testsuite.log
  build/nghttp2/build.sh
  build/nghttp2/testsuite.log
  build/wget/build.sh
  build/wget/patches/hostos.patch
  build/wget/patches/nofuzz.patch
  doc/packages.md
Labels: package update

#2696 Core package updates
  build/mercurial/build.sh
  build/mozilla-nss-nspr/build.sh
  build/mozilla-nss-nspr/patches/shadowing.patch
  doc/packages.md
Labels: package update

#2697 dbus: update from 1.12.22 to 1.14.0
  build/dbus/build.sh
  build/dbus/patches/inline.patch
  build/dbus/testsuite.log
  doc/packages.md
Labels: package update

#2702 expat - update from 2.4.6 to 2.4.7 (r151040)
  build/expat/build.sh
Labels: package update, backport-PR

#2701 expat - update from 2.4.6 to 2.4.7 (r151038)
  build/expat/build.sh
Labels: package update, backport-PR

#2700 expat - update from 2.4.6 to 2.4.7 (r151030)
  build/expat/build.sh
Labels: package update, backport-PR

#2708 perl: update to 5.34.1
  build/perl/build.sh
  build/perl/patches/CVE-2021-36770.patch
  build/perl/patches/series
  build/perl/testsuite.log
  doc/packages.md
Labels: package update

#2713 openssl updates (r151030)
  build/openssl/build.sh
  build/openssl/patches-1.0/CVE-2022-0778.patch
  build/openssl/patches-1.0/series
  build/openssl/testsuite.log
Labels: package update, security, backport-PR

#2712 openssl updates (r151038)
  build/openssl/build-1.1.sh
  build/openssl/patches-1.0/CVE-2022-0778.patch
  build/openssl/patches-1.0/series
  build/openssl/testsuite-1.0.log
  build/openssl/testsuite-1.1.log
Labels: package update, security, backport-PR

#2710 openssl updates
  build/openssl/build-1.1.sh
  build/openssl/build-3.sh
  build/openssl/patches-1.0/CVE-2022-0778.patch
  build/openssl/patches-1.0/series
  build/openssl/testsuite-1.0.log
  build/openssl/testsuite-1.1.log
  build/openssl/testsuite-3.log
  doc/packages.md
Labels: package update, backport-todo, security

#2717 python39 - update from 3.9.9 to 3.9.11 (r151040)
  build/python39/build.sh
  build/python39/patches/disable_epoll.patch
  build/python39/patches/enable-ossaudiodev.patch
  build/python39/patches/futures-dictsize.patch
  build/python39/patches/mod-posix-sched_priority.patch
  build/python39/patches/mod-socket-xpg6.patch
  build/python39/patches/module-dlpi.patch
  build/python39/patches/module-priv-rbac.patch
  build/python39/patches/module-ucred.patch
  build/python39/patches/revert-makedirs.patch
  build/python39/patches/series
  build/python39/patches/setup.patch
  build/python39/patches/test-zipfile.patch
  build/python39/testsuite.log
Labels: package update

#2718 python39 - update from 3.9.9 to 3.9.11 (r151038)
  build/python39/build.sh
  build/python39/patches/disable_epoll.patch
  build/python39/patches/enable-ossaudiodev.patch
  build/python39/patches/futures-dictsize.patch
  build/python39/patches/mod-posix-sched_priority.patch
  build/python39/patches/mod-socket-xpg6.patch
  build/python39/patches/module-dlpi.patch
  build/python39/patches/module-priv-rbac.patch
  build/python39/patches/module-ucred.patch
  build/python39/patches/revert-makedirs.patch
  build/python39/patches/series
  build/python39/patches/setup.patch
  build/python39/patches/test-zipfile.patch
  build/python39/testsuite.log
Labels: package update

#2722 Core package updates
  build/buildctl
  build/python310/meson/build.sh
  build/python310/meson/patches/compiler_def_static_linker.patch
  build/python310/pytz/build.sh
  doc/packages.md
Labels: package update

#2723 glib2: update to 2.72.0
  build/glib/build.sh
  build/glib/patches/gobject.h.patch
  build/glib/patches/libsocket.patch
  build/glib/patches/mntent.patch
  build/glib/patches/no_export_dynamic.patch
  build/glib/patches/no_inotify.patch
  build/glib/patches/printf.patch
  build/glib/patches/series
  build/glib/patches/strftime.patch
  build/glib/testsuite.log
  doc/packages.md
Labels: package update

#2725 python39 - update from 3.9.11 to 3.9.12 (r151038)
  build/python39/build.sh
Labels: package update, backport-PR

#2724 python39 - update from 3.9.11 to 3.9.12 (r151040)
  build/python39/build.sh
Labels: package update, backport-PR

#2726 python310 - update from 3.10.3 to 3.10.4
  build/python310/build.sh
  build/python310/patches/test-shutil.patch
  doc/packages.md
Labels: package update, backport-todo

#2730 Core package updates
  build/sqlite3/build.sh
  build/zlib/build.sh
  build/zlib/testsuite.log
  doc/packages.md
Labels: package update

#2732 Core package updates
  build/expat/build.sh
  build/mozilla-nss-nspr/build.sh
  doc/packages.md
Labels: package update
