Repository omniosorg/omnios-build, pull requests merged in 2024-10, with the labels that each got.

#3709 perl: update to 5.40.0
  build/perl/build.sh
  build/perl/testsuite.log
  doc/packages.md
Labels: package update

#3711 meson-311: update to 1.5.1 (r151046)
  build/python311/meson/build.sh
  build/python311/meson/local.mog
  build/python311/meson/patches/compiler_def_static_linker.patch
Labels: package update

#3713 Core package updates
  build/bind/build.sh
  build/python312/build.sh
  build/python312/testsuite.log
  doc/packages.md
Labels: package update, backport-todo

#3712 gcc10/14: add support for kernel %j and %z
  build/gcc10/patches/0038-16768-kernel-printf-should-know-about-j-and-z-size-s.patch
  build/gcc10/patches/0039-OOCE-Adjust-default-library-paths-for-OmniOS.patch
  build/gcc10/patches/series
  build/gcc14/patches/0031-13726-distinguish-ourselves-with-a-macro-__illumos__.patch
  build/gcc14/patches/0031-Fix-cp-module.cc-build-use-posix_madvise.patch
  build/gcc14/patches/0032-libstdc-must-use-thread-local-errno.patch
  build/gcc14/patches/0033-Add-fforce-omit-frame-pointer.patch
  build/gcc14/patches/0034-cmn_err-supports-h-and-hh-6333936.patch
  build/gcc14/patches/0035-16768-kernel-printf-should-know-about-j-and-z-size-s.patch
  build/gcc14/patches/0036-OOCE-Adjust-default-library-paths-for-OmniOS.patch
  build/gcc14/patches/series
Labels: backport-todo
